<!-- main app container -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ 'qosradioqualityericsson' | translate }}
      <small>{{ 'control_panel' | translate }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-cogs"></i> {{ 'home' | translate }}</a></li>
      <li class="active">{{ 'qosradioqualityericsson' | translate }}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">{{ 'qosradioqualityericsson_detail' | translate }}</h3>
		</div>
		<!-- /.box-header -->
		
		<div class="box-body">		
			<app-alert></app-alert>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<form [formGroup]="qosradioqualityericssondetailForm" autocomplete="off">
						<input type="hidden" [(ngModel)]="qosradioqualityericsson.csrfNonce" formControlName="csrfNonce"/>
	
						<div class="form-group">
						<label>{{ 'qosradioqualityericsson_nodeName' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.nodeName" formControlName="nodeName" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_neId' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.neId" formControlName="neId" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_object' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.object" formControlName="object" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_timeValue' | translate }}</label>
						<input type="text" placeholder="YYYY-MM-DD" id="timeValue" name="timeValue" [(ngModel)]="qosradioqualityericsson.timeValue" class="form-control" formControlName="timeValue" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_intervalValue' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.intervalValue" formControlName="intervalValue" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_direction' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.direction" formControlName="direction" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_neAlias' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.neAlias" formControlName="neAlias" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_azEnd' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.azEnd" formControlName="azEnd" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_neType' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.neType" formControlName="neType" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_positionValue' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.positionValue" formControlName="positionValue" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_atValue' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.atValue" formControlName="atValue" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_es' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.es" formControlName="es" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_ses' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.ses" formControlName="ses" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_bb' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.bb" formControlName="bb" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_bbe' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.bbe" formControlName="bbe" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_uas' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.uas" formControlName="uas" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_idLogNum' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.idLogNum" formControlName="idLogNum" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_tid' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.tid" formControlName="tid" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_farEndTID' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.farEndTID" formControlName="farEndTID" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_failureDescription' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.failureDescription" formControlName="failureDescription" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_uploadedAttachment' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.uploadedAttachment" formControlName="uploadedAttachment" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_uploadedAttachmentFileId' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.uploadedAttachmentFileId" formControlName="uploadedAttachmentFileId" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_downloadAttachment' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.downloadAttachment" formControlName="downloadAttachment" class="form-control"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'qosradioqualityericsson_remarks' | translate }}</label>
						<input type="text" [(ngModel)]="qosradioqualityericsson.remarks" formControlName="remarks" class="form-control"  autocomplete="off" />
					</div>

						
						<!-- file Attachment html start  workRequest-->
					<div
						class="form-group"
						*ngIf="
						qosradioqualityericsson.componentId >= 0 &&
						qosradioqualityericsson.uploadedAttachment != null &&
						qosradioqualityericsson.uploadedAttachment.trim() != ''
						"
						>
						<label
							>{{ "qosradioqualityericsson_uploadedAttachment" | translate }} :
							{{ qosradioqualityericsson.uploadedAttachment }}</label
						>
						&nbsp;
						<button
							class="btn btn-primary text-right"
							(click)="onDownload()"
						>
							<i class="fa fa-download"></i>
							{{ "btn_download_text" | translate }}
						</button>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
							<input
								type="file"
								(change)="onFileChange($event)"
								placeholder="{{ 'select_file' | translate }}"
								accept=".jpg,.jpeg,.png,.pdf,.doc,.docx"
								#inputFile
							/>
							<span *ngIf="fileUploadExecutionDone">
								<small *ngIf="fileAttached"
								><font color="green">{{
									fileAttachedMessage
								}}</font></small
								>
								<small *ngIf="!fileAttached"
								><font color="red">{{
									fileAttachedMessage
								}}</font></small
								>
							</span>
						</div>
							<!--<div class="col-md-2">
								<button [disabled]="submitted" class="btn btn-primary text-right" (click)="onAttachClick()"><i class="fa fa-paperclip"></i> {{ 'btn_attach_text' | translate }}</button>
								</div>-->
						</div>
					</div>
						<!-- file Attachment html end  workRequest-->
						
						<div *ngIf="qosradioqualityericsson.componentId < 0" class="form-group">
							<button class="btn btn-primary" [disabled]="isSubmitted" (click)="onSubmit()"><i class="fa fa-save"></i> {{ 'btn_save_text' | translate }}</button>
						</div>
						
						<div *ngIf="qosradioqualityericsson.componentId >= 0" class="form-group">
							<button class="btn btn-primary" [disabled]="isSubmitted" (click)="onSubmit()"><i class="fa fa-save"></i> {{ 'btn_save_text' | translate }}</button>
							&nbsp;
							<button class="btn btn-primary" [disabled]="isSubmitted" (click)="onDelete()"><i class="fa fa-remove"></i> {{ 'btn_delete_text' | translate }}</button>
						</div>
					</form>
					<button class="btn btn-primary" (click)="goBack()"><i class="fa fa-arrow-left"></i> {{ 'btn_go_back_text' | translate }}</button>				
				</div>
			</div>
		</div>
	</div>
	
  </section>
</div>
