<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      {{ "ldsettlementldcalculation_list" | translate }}
    </h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <!-- <div class="form-group">
			<button class="btn btn-primary" (click)="onAddLdsettlementldcalculation()"><i class="fa fa-plus"></i> {{ 'btn_add_text' | translate }}</button> 
			&nbsp;
			&nbsp;
			<input type="text" name="uniqueCode" [(ngModel)]="ldsettlementldcalculation.uniqueCode"/>
			&nbsp;
			<input type="text" [(ngModel)]="fromDate" placeholder="From"  name="accessDate"    bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD 00:00:00' }" autocomplete="off" />&nbsp;
			<input type="text" [(ngModel)]="toDate" placeholder="To"  name="accessDate"    bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD 23:59:59' }" autocomplete="off" />&nbsp;
			<button class="btn btn-primary" (click)="searchByParams()"><i class="fa fa-search-plus"></i> {{ 'btn_search_text' | translate }}</button>
			&nbsp;<button class="btn btn-primary " (click)="downloadReport()"><i class="fa fa-download"></i> Report</button>
	
		</div> -->

    <form [formGroup]="filterOptions">
      <mat-radio-group
        [(ngModel)]="inputMonths.inputType"
        formControlName="inputType"
      >
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutGap="10px">
              <div>
                <mat-radio-button value="Month">Monthly</mat-radio-button>
              </div>
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Month</mat-label>
                  <mat-select
                    [(ngModel)]="inputMonths.months"
                    formControlName="months"
                    [disabled]="filterOptions.value.inputType != 'Month'"
                  >
                    <mat-option value="">Select Month</mat-option>
                    <mat-option value="1">January</mat-option>
                    <mat-option value="2">February</mat-option>
                    <mat-option value="3">March</mat-option>
                    <mat-option value="4">April</mat-option>
                    <mat-option value="5">May</mat-option>
                    <mat-option value="6">June</mat-option>
                    <mat-option value="7">July</mat-option>
                    <mat-option value="8">August</mat-option>
                    <mat-option value="9">September</mat-option>
                    <mat-option value="10">October</mat-option>
                    <mat-option value="11">November</mat-option>
                    <mat-option value="12">December</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
              <div>
                <mat-radio-button value="Quarterly">Quarterly</mat-radio-button>
              </div>
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Quarter</mat-label>
                  <mat-select
                    [(ngModel)]="inputMonths.quarterName"
                    formControlName="quarterName"
                    [disabled]="filterOptions.value.inputType != 'Quarterly'"
                  >
                    <mat-option value="">Select Quarter</mat-option>
                    <mat-option value="Q1">Q1</mat-option>
                    <mat-option value="Q2">Q2</mat-option>
                    <mat-option value="Q3">Q3</mat-option>
                    <mat-option value="Q4">Q4</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Year</mat-label>
                <input
                  matInput
                  [(ngModel)]="inputMonths.year"
                  formControlName="year"
                  placeholder="Ex. 2020"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayoutAlign="end center">
            <button
              mat-flat-button
              class="btn-primary"
              (click)="searchByParams()"
            >
              <span class="material-icons"> search </span>
              {{ "btn_search_text" | translate }}
            </button>
          </div>
        </div>
      </mat-radio-group>
    </form>
    <div fxLayoutAlign="center center">
      <mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
    </div>
    <div style="width: 100%">
      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 600px"
        class="ag-theme-alpine"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [enableRangeSelection]="true"
        [enableCellTextSelection]="true"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
